<!doctype html>

<html lang="en">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>회원정보 수정</title>
  </head>
  <%- include('nav.html')%>
  
  <body>
      <div class="container mt-4">
        <input type="hidden" name="duplicateResult" id="duplicateResult" value="N">
        <form id="submitFrm" name="submitFrm" method="post" onsubmit="return false;">
        
          <div class="form-group">
              <p>아이디</p>
              <input type="hidden" class="idClass" id="id" class="form-control" name="id" value="<%= myInfo.userId %>"/>
              <input type="text" class="idClass" id="idChk" class="form-control" value="<%= myInfo.userId %>"/>

          </div>
         
          <div class="form-group">
            <p>이메일</p>
            <input type="text" class="form-control" id="email" name="email" value="<%= myInfo.userEmail %>"/>
          </div>
        <button type="button" class="btn btn-danger" id="submit" value="Submit">회원가입</button>
        </form>
      </div>

  </body>
  <script>
    $(document).ready(function(){
     

      // 회원정보 수정
      $("#submit").on("click",function(){
        // 1.validChk
        if(!fnValidChk()){
          return false;
        }
        // 2. submit
        // document.submitFrm.method='post';
        // document.submitFrm.action='/member/regist';
        var data = $('#submitFrm').serialize();
        
        $.ajax({
            method : 'post'
            , url : '/member/update'
            , data :data
           
          }).done(function(result){
            if(result=='success'){ 
              // 회원가입 성공
              alert("회원정보 수정에 성공하였습니다!");
              location.href="/login";
            }else{
              // 회원가입 실패 
              alert("회원정보 수정에 실패하였습니다!");
            }
         }).fail(function(xhr, textStatus, errorThrown){
            
            console.log(xhr, textStatus, errorThrown);
   
          });

      });
    });

    // validChk function
    function fnValidChk(){
        var duplicateResult = $("#duplicateResult").val();
        if(duplicateResult!='Y'){
          alert("아이디를 중복체크하세요.");
          $("#id").focus();
          return false;
        }

        var email = $("#email").val();
        if(email.length==0){
          alert("email를 입력해주세요.");
          $("#email").focus();
          return false;
        }
        
        if(email.indexOf('@') ==-1){
          alert("email 양식이 아닙니다.");
          $("#email").focus();
          return false;
        }


        return true;
    }
  </script>
</html>
