<!doctype html>
  <head>
   <style>
     .heard {
        max-width: 5%;
        height: auto;
     }

     .caption{
      border : 2px solid black;
     }

   </style>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/public/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>


      <h4 class="ml-2 my-3 text-center">서버에서 가져온 할일 리스트</h4>
      <div class="container input-group mb-2">
        <input type="text" class="form-control" id="keyword">
        <button class="input-group-append btn btn-danger" id="search">검색</button>
        <button class="input-group-append btn btn-primary" id="write">글쓰기</button>
      </div>
      <div class="row">
        <% for(var i=0;i < listResult.length;i++){%>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3><%=listResult[i].title %></h3><!-- 제목 -->
              <p>카테고리 / 작성일 / 작성자 / 좋아요 갯수</p>
              <p>  
                  <div class="case">
                  <% var result = false; %>
                  <% for(var j=0;j < favResult.length;j++){ %>
                      <% if(favResult[j].boardSeq==listResult[i].boardSeq && favResult[j].fav=='Y'){ %>
                          <% result = true; %>   
                          <% break; %>                       
                      <% } %>
                  <% } %>
                  <% if(result){ %>
                    <div class="red_heart" data-id="<%= listResult[i].boardSeq %>">
                      <img src="../public/image/red_heart.png" class="heard" alt="favY">
                    </div>
                  <% }else{ %>
                    <div class="empty_heart" data-id="<%= listResult[i].boardSeq %>">
                      <img src="../public/image/empty_heart.png" class="heard" alt="favN">
                  </div>
                 <% } %>
                </div>
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      
      

      <form method="post" id="submitForm" name="submitForm">
        <input type="hidden" name="targetId" id="targetId">
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
      <script>
       $('.delete').click(function(e){
          var num = e.target.dataset.id; // 지금 누른 요소의 data-id 를 가져오기
          var t = $(this);
          $.ajax({
            method : 'DELETE'
            , url : '/delete'
            , data : {_id : num}
          }).done(function(result){
            // 성공
            alert(result.message);
            t.parent('li').fadeOut();
         }).fail(function(xhr, textStatus, errorThrown){
            // 실패
            // xhr
            // textStatus : error code
            // errorThrown : error msg
            console.log(xhr, textStatus, errorThrown);
   
          });
        });
        
       function editPage(id){
          location.href="/editPage/"+id;
       }

       $("#search").on("click",function(){
        window.location.replace('/search?value='+$("#keyword").val());
       });
       
       // 글쓰기
       $('#write').on('click',function(){
        location.href="/board/write";
       });
       // 채팅하기
      
        // $('.chat').click(function(e){
        //   var id = e.target..id; // 채팅당한 사람의 id
        //   $.post('/chat/chatroom',{target:id}).then((result)=>{

        //   });
        // });
        $('.chat').click(function(e){
            var id = e.target.dataset.id; // 채팅당한 사람의 id
            var frm = document.createElement('form');
            frm.setAttribute('charset','utf-8');
            frm.setAttribute('method','post');
            frm.setAttribute('action','/chat/chatroom');
            
            var hiddenField = document.createElement('input');
            hiddenField.setAttribute('type','hidden');
            hiddenField.setAttribute('name','target');
            hiddenField.setAttribute('value',id);
            frm.appendChild(hiddenField);
            
            document.body.appendChild(frm);
            frm.submit();

        });


        // 좋아요 버튼
        $(document).on("click",".empty_heart",function(){
            // console.log("좋아요 클릭");
            favController($(this).data("id"),"Y");

        });

        // 좋아요 취소 버튼
        $(document).on("click",".red_heart",function(){
            // console.log("좋아요 취소 클릭");
            favController($(this).data("id"),"N");
        });


        // 좋아요 컨트롤러
        function favController(boardSeq,param){
          $.ajax({
              method : 'post'
              , url : '/board/fav'
              , async : false
              , dataType : 'json'
              , data : {boardSeq : boardSeq, param:param}
          }).done(function(result){
            // 성공
            if(result.message=='success'){
              var html ="";
              var point;
              var parent;
              if(param=='Y'){
                  // 좋아요
                  html += '<div class="red_heart" data-id="'+boardSeq+'">';
                  html +=  '<img src="../public/image/red_heart.png" class="heard" alt="favY">';
                  html += '</div>';
                  
                  $(".empty_heart").each(function(){
                    // console.log($(this).data("id"));
                      if($(this).data("id")==boardSeq){
                        parent = $(this).parent().append(html);
                        point = $(this).remove();
                      }
                  });
              }else{
                  // 좋아요 취소
                  html +=  '<div class="empty_heart" data-id="'+boardSeq+'">';
                  html +=  '<img src="../public/image/empty_heart.png" class="heard" alt="favN">';
                  html +=  '</div>';

                  $(".red_heart").each(function(){
                    // console.log($(this).data("id"));
                    if($(this).data("id")==boardSeq){
                      
                      parent = $(this).parent().append(html);
                      point = $(this).remove();
                    }

                  });
              }
              
           
            }
            
           

         }).fail(function(xhr, textStatus, errorThrown){
              // 실패
              // xhr
              // textStatus : error code
              // errorThrown : error msg
              console.log(xhr, textStatus, errorThrown);
    
          });
        
        }

      </script>
      


  </body>
</html>