<!doctype html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>

<html lang="en">
  <head>
    <title>로그인</title>
  </head>
  <script>
    $(document).ready(function(){
      // 회원 가입 페이지
      $("#register").on("click",function(){
        location.href="/member/registPage";
      });

      
    });
  

  </script>
  <%- include('nav.html')%>

  <body>
    <form action="/login" method="post">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./image/doge.jpeg" class="img-fluid rounded-start" alt="logo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">로그인</h5>
              <div class="form-group">
                  <p>아이디</p>
                  <input type="text" class="form-control" name="id"/>
              </div>
              <div class="form-group">
                  <p>패스워드</p>
                  <input type="password" class="form-control" name="pw"/>
              </div>
              <div class="for-group">
                <input type="submit" class="btn btn-danger" id="loginSubmit" value="로그인"/>
                <button type="button" id="register" class="btn btn-primary">회원가입</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        

      </form>
     
    </body>
</html>
