<%- include('nav.html')%>

  <script>
    $(document).ready(function(){
      // 회원 가입 페이지
      $("#register").on("click",function(){
        location.href="/member/registPage";
      });

      $("#loginSubmit").on("click",function(){
        
        var data = $("#submitFrm").serialize();
        //alert(data);
        $.ajax({
            method : 'post'
            , url : '/login'
            , data :data
           
          }).done(function(result){
            //console.log("result"+result);
            if(result==='success'){ 
              // 로그인 성공
              
              location.href="/";
            }else{
              // 로그인 실패 
              alert("로그인에 실패하였습니다.");
            }
         }).fail(function(xhr, textStatus, errorThrown){
            
            console.log(xhr, textStatus, errorThrown);
   
          });
      });

      
      
    });
    
    function press(f){
      if(f.ketCode==13){
        submitFrm.submit();
      }
    }

  </script>

 
    <form name="submitFrm" id="submitFrm" method="post" onsubmit="return false;">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./image/doge.jpeg" class="img-fluid rounded-start" alt="logo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">로그인</h5>
              <div class="form-group">
                  <p>아이디</p>
                  <input type="text" class="form-control" name="id" onkeypress="javascript:press(this.form)"/>
              </div>
              <div class="form-group">
                  <p>패스워드</p>
                  <input type="password" class="form-control" name="pw" onkeypress="javascript:press(this.form)"/>
              </div>
              <div class="for-group">
                <button type="button" class="btn btn-danger" id="loginSubmit" >로그인</button>
                <button type="button" id="register" class="btn btn-primary">회원가입</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        

      </form>
     
</html>
