<html lang="ko">
  <head>
  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <title>chatroom</title>
    <style>
        .chat-content {
            height: 450px;
            overflow-y: scroll;
            padding: 10px;
        }
        .chat-content li {
            margin-top: 10px;
            list-style: none;
        }
        .text-small {
            font-size: 12px;
            color: gray;
            margin-bottom: 0;
        }
        .chat-box {
            background: #eee;
            padding: 5px;
            border-radius: 5px;
            float: left;
        }
        .mine {
           float: right;
        } 

    </style>

  </head>
  <%- include('nav.html')%>

  <body>
    <div class="container p-4 detail">

        <div class="row">
          <div class="col-3">
            <ul class="list-group chat-list">
              <% for( let i = 0; i < data.length; i++){ %>
              <li class="list-group-item" data-id="<%= data[i]._id %>">
                <h6><%= data[i].title %></h6>
                <h6 class="text-small"><%= data[i].member[0] %></h6>
              </li>
              <% } %>
             
             </ul>
           </div>
      
           <div class="col-9 p-0">
             <div class="chat-room">
                <ul class="list-group chat-content" id="chatContent">
                  
                </ul>
              <div class="input-group">
                <input class="form-control" id="chat-input">
                <button class="btn btn-secondary" id="send">전송</button>
              </div>
            </div>
          </div>
        </div>
      
      </div> 
  

    <!-- <div class="container p-4 detail">
        <div>채팅방</div>
       <input type="text" name="content" id="content"> <button id="send">서버에 메시지 보내기</button>

       <button id ='room1'>room1 입장</button>
       <button id ='room1-send'>채팅방1에서 메시지 보내기</button>
       <div id="msg"></div>
    </div>  -->
    <script>
        var socket = io();

        // 수신 메시지
        socket.on('broadcast',function(data){
            $("#msg").append('<div>'+data+'</div>');
        });

        $("#room1").on("click",function(){
            alert('room1에 입장하였습니다');
            socket.emit('joinRoom1','채팅방1입장');

        });

        $("#send").on("click",function(){
            var content = $("#chat-input").val();
            socket.emit('room1-send',content);
            $("#chat-input").val("");
        });
    </script>
  </body>
 
 
</html>
